@page
@model DatabaseFirstApproach.Pages.Genders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-info">Create new gender</h1>

<hr />

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row form-group">
        <label asp-for="TblGender.Sex" class="control-label col-md-2"></label>
        <div class="col-sm-10">
            <input asp-for="TblGender.Sex" class="form-control" />
            <span asp-validation-for="TblGender.Sex" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-10">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-page="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
