@page "{id:int?}"
@model DatabaseFirstApproach.Pages.Genders.DetailsModel

@{
    ViewData["Title"] = "Gender Detail";
}

<h1 class="text-info">Gender Details</h1>
<hr />

<div class="card-deck">
    <div class="card text-primary text-center">
        <h1 class="card-header"> @Html.DisplayFor(model => model.TblGender.Sex)</h1>
        <div class="card-body">
            <h4>
                Gender :    @Model.TblGender.Sex
            </h4>
        </div>
        <div class="card-footer">
            <a asp-page="./Index" class="btn btn-outline-secondary btn-sm mb-2">Back</a>
            <a asp-page="./Edit" asp-route-id="@Model.TblGender.Id" class="btn btn-outline-primary btn-sm mb-2">Edit</a>
            <a asp-page="./Delete" asp-route-id="@Model.TblGender.Id" class="btn btn-outline-danger btn-sm mb-2">Delete</a>
        </div>
    </div>

</div>

