@page "{id:int?}"
@model DatabaseFirstApproach.Pages.Genders.EditModel

@{
    ViewData["Title"] = "Edit Existing Gender";
}

<h1 class="text-info">Edit Gender</h1>

<hr />

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TblGender.Id" />
    <div class="form-group">
        <label asp-for="TblGender.Sex" class="control-label"></label>
        <input asp-for="TblGender.Sex" class="form-control" />
        <span asp-validation-for="TblGender.Sex" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
