@page "{id:int?}"
@model DatabaseFirstApproach.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit Existing Employee";
}

<h1 class="text-info">Edit Employee</h1>
<hr />


<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TblEmployees.EmployeeId" />
    <div class="row form-group">
        <label asp-for="TblEmployees.Name" class="control-label col-md-2"></label>
        <div class="col-sm-10">
            <input asp-for="TblEmployees.Name" class="form-control" />
            <span asp-validation-for="TblEmployees.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <label asp-for="TblEmployees.Email" class="control-label col-md-2"></label>
        <div class="col-sm-10">
            <input asp-for="TblEmployees.Email" class="form-control" />
            <span asp-validation-for="TblEmployees.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <label asp-for="TblEmployees.GenderId" class="control-label col-md-2"></label>
        <div class="col-sm-10">
            <select asp-for="TblEmployees.GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
            <span asp-validation-for="TblEmployees.GenderId" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <label asp-for="TblEmployees.DepartmentId" class="control-label col-md-2"></label>
        <div class="col-sm-10">
            <select asp-for="TblEmployees.DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
            <span asp-validation-for="TblEmployees.DepartmentId" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <label asp-for="TblEmployees.Salary" class="control-label col-md-2"></label>
        <div class="col-sm-10">
            <input asp-for="TblEmployees.Salary" class="form-control" />
            <span asp-validation-for="TblEmployees.Salary" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-10">
            <input type="submit" value="Save" class="btn btn-success" />
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
