@page "{id:int?}"
@model DatabaseFirstApproach.Pages.Departments.EditModel

@{
    ViewData["Title"] = "Edit Existing Department";
}

<h1 class="text-info">Edit Department</h1>
<hr />

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TblDepartment.Id" />
    <div class="row form-group">
        <label asp-for="TblDepartment.DepartmentName" class="control-label col-md-2"></label>
        <div class="col-sm-10">
            <input asp-for="TblDepartment.DepartmentName" class="form-control" />
            <span asp-validation-for="TblDepartment.DepartmentName" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-10">
            <input type="submit" value="Save" class="btn btn-success" />
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
